.orders{
    border: 3px;
}
.child{
    border: 2px;
}
.button{
    padding: 20px;
}
.orderformheader {
    font-size: 30px;
  }
.shippingaddressheader{
    font-size: 30px;
}

.order-quantity {
    font-size: 45px;
    border-right: solid 1px gray;
}